<% if user_signed_in? %>


<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<% else %>

Please login

<%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
<%= link_to 'Log In', new_user_session_path, class: "nav-link" %>


<% end %>