<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mane2 とは？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>個人のお金管理アプリです🎵</p>
        </br>
        <p>普段気に留めない</p>
        <p>・コンビニでの出費</p>
        <p>・飲み会代</p>
        <p>・小銭での支払い</p>
        <p>などを管理して</p>
        <p>お金の流れを可視化しよう😆</p>
        </br>
        <p>現金での支出だけでなく</p>
        <p>カードやローンの引き落とし</p>
        <p>収入などを登録することで</p>
        <p>月の収支を簡単に確認できます✨</p>
        </br>
        <p>また登録した情報から</p>
        <p>期間を指定して</p>
        <p>バランスシートの</p>
        <p>PDF出力ができます😇</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">さあ、はじめよう！</button>
      </div>
    </div>
  </div>
</div>