.main-container {
    margin: 10px;
}

.display-monthly-flow {
    background-color: rgb(169, 235, 255);
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 3px;
    color: rgb(100, 98, 98); 
}

div.list-group-item {
    background-color: rgb(169, 235, 255);
}