html {
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
    background-color:#e2d7ad;
    height: 100%;
}

#wrapper {
    height: 100%;
}

a, i {
    color:rgb(100, 98, 98) !important;
}
#sidebar-wrapper {
    a, i {
        color:#e2d7ad !important;
    }
}
.navbar-nav {
    a, i {
        color:#e2d7ad !important; 
    }
}
.navbar-brand {
    color:#e2d7ad !important;
}
.navbar-toggler{
    border-color: #e2d7ad !important;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(226,215,173,11)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.display-user-information {
    color: rgb(129, 129, 129);
    text-align: right;
    font-size: 12px;
    padding: 5px 5% 0 0;
    width: 100%;
}

// a.btn {
//     color:rgb(255, 255, 255) !important;
// }

.main-container {
    margin: 10px;
}

.main-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flow {
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 3px;
    color: rgb(100, 98, 98); 
}

.display-monthly-flow {
    @include flow;
}
.each-monthly-flow {
    @include flow;
}

div.list-group-item {
    background-color: #e2d7ad;
    color: #1d2b58;
}

.sidebar-heading a{
    font-weight: bold;
    color: rgb(65, 65, 65);
    &:hover {
        text-decoration: none;
    }
}

.section-title {
    // background-color: rgb(232, 244, 255);
    color: rgb(90, 90, 90);
    text-align: center;
}

.prev form, .next form {
    display: none;
}

#menu-toggle {
   background-color: #1d2b58 !important;
   border-color: #e2d7ad !important;
}
.fa-angle-right, .fa-angle-left {
    color: #e2d7ad !important;
}
.btn-primary {
    background-color: #1d2b58 !important;
    border-color: #e2d7ad !important;
    color: #e2d7ad !important;
}
.fab {
    font-weight: 900;
}