// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-heading {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.day_flow_of_income {
  color: #1d2b58;
  font-weight: bold;
}
.day_flow_of_item {
  color: red;
  font-weight: bold;
}
.day_flow_of_credit {
  color: red;
  font-weight: bold;
}
.day_flow_of_debt {
  color: red;
  font-weight: bold;
}

.simple-calendar {
  overflow-x: scroll;
  th {
    min-width: 60px;
    font-size: 12px;
  }
  td {
    font-size: 12px;
    .day_flow_of_income, .day_flow_of_item, .day_flow_of_credit, .day_flow_of_debt{
      font-size: 10px;
    }
  }
}

.unlogin-home {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  background-color: #e2d7ad;
  color: #1d2b58;
  .title-1 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 210px;
    height: 70px;
    background-color: #1d2b58;
    color: #e2d7ad;
    font-size: 30px;
  }
  .title-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 210px;
    height: 70px;
    font-size: 30px;
  }
  .login-button {
    width: 100%;
    text-align: center;
  }
  .usage {
    width: 100%;
    text-align: center;
  }
}
