// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day_flow_of_income {
  color: blue;
  font-weight: bold;
}
.day_flow_of_item {
  color: red;
  font-weight: bold;
}
.day_flow_of_credit {
  color: rgb(253, 95, 161);
  font-weight: bold;
}
.day_flow_of_debt {
  font-weight: bold;
}