// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-item-type {
    color: red;
}
div.pagination {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.pagination li {
    padding: 0 7px 0 7px;
    min-width: 20px;
    text-align: center;
    border-right: 2px solid #1d2b58;
    &:last-child {
        border: none;
    }
}
ul.pagination li.active {
    background-color: #1d2b58;
    a {
        color:#fff !important;
    }
}
.item-table {
    th {
        min-width: 120px;
    }
    .item-image {
        width: 100%;
    }
}
